:root {
  --card-width: 75vw;
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 5;
  --outline-width: 0px;
}

#cards {
  padding-bottom: calc(
    var(--numcards) * var(--card-top-offset)
  ); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(
    --card-margin
  ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

#card_5 {
  --index: 5;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */ selector(
          #cards
        )
        start 1,
      /* End when the start edge touches the start of the scrollport */
        selector(#cards) start 0;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(
      var(--reverse-index) - 1
    ); /* 0-based reverse index */
  }

  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  .card__content2 {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}
/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}

/** PAGE STYLING **/

* {
  /* Poor Man's Reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  font-size: calc(1em + 0.5vw);
}

// header,
// main {
//   width: 80vw;
//   margin: 0 auto;
// }

// header {
//   height: 100vh;
//   display: grid;
//   place-items: center;
// }
.card-container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding-left: 70px;
}

#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;

  display: grid;

  width: 75vw;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}

.card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #f4eae6;
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;

  display: grid;
  gap: 1em;
  place-items: start;
}

.card__content > span {
  grid-area: img;
  overflow: hidden;
}

.card__content img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
}

.card__content2 {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #f4eae6;
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow-wrap: break-word;
  word-wrap: break-all;
  // word-wrap: break-word;
  padding-top: 200px;
  padding-bottom: 200px;
  // padding-right: 20px;
  // padding-left: 20px;
  // display: grid;
  // grid-template-areas: "text img";
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto;
  // height: 650px;

  outline: var(--outline-width) solid lime;
}

.card__content2 > div {
  grid-area: text;
  width: 100%;
  place-self: center;
  text-align: left;
  word-wrap: break-word;
  display: grid;
  // gap: 1em;
  place-items: start;
}

.card__content2 > span {
  grid-area: img;
  // overflow: hidden;
}

h3 {
  font-weight: 400;
  font-size: 2.5em;
  font-family: "Coolvetica";
  color: #2f5061;
}

h4 {
  font-weight: 400;
  font-size: 1em;
  font-family: "Coolvetica";
  color: #2f5061;
  padding-bottom: 20px;
}

p {
  font-size: 13px;
  color: #2f5061;
  font-family: sans-serif;
  font-weight: 300;
  min-width: fit-content;
}

.btn {
  color: #e57f84;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #e57f84;
  margin-top: 15px;
  float: left;
  white-space: nowrap;

  &:hover {
    background: #e57f84;
    color: #333;
  }
}

.repo-btn {
  color: #e57f84;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #e57f84;
  border-left: none;
  margin-top: 15px;
  float: left;
  white-space: nowrap;

  &:hover {
    background: #e57f84;
    color: #333;
  }
}

.port-btn {
  margin: 10px;
}

.card__content2 {
  width: 100%;
  // display: flex;
}

.backend_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  // padding: 40px;
}

.backend_column {
  width: 100%;
  white-space: pre-wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.backend_column_border {
  border-left: 1px solid #e57f84;
  border-right: 1px solid #e57f84;
}

.backend_paragraph {
  height: 20%;
  // padding-bottom: 20px;
}

@media (max-width: 970px) {
  :root {
    --card-width: 75vw;
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 4em;
    --numcards: 4;
    --outline-width: 0px;
  }

  #cards {
    padding-bottom: calc(
      var(--numcards) * var(--card-top-offset)
    ); /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(
      --card-margin
    ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  }

  #card_1 {
    --index: 1;
  }

  #card_2 {
    --index: 2;
  }

  #card_3 {
    --index: 3;
  }

  #card_4 {
    --index: 4;
  }

  #card_5 {
    --index: 5;
  }

  .card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }

  @supports (animation-timeline: works) {
    @scroll-timeline cards-element-scrolls-in-body {
      source: selector(body);
      scroll-offsets:
        /* Start when the start edge touches the top of the scrollport */ selector(
            #cards
          )
          start 1,
        /* End when the start edge touches the start of the scrollport */
          selector(#cards) start 0;
      start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
      end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
      time-range: 4s;
    }

    .card {
      --index0: calc(var(--index) - 1); /* 0-based index */
      --reverse-index: calc(
        var(--numcards) - var(--index0)
      ); /* reverse index */
      --reverse-index0: calc(
        var(--reverse-index) - 1
      ); /* 0-based reverse index */
    }

    .card__content {
      transform-origin: 50% 0%;
      will-change: transform;

      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);

      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }

    .card__content2 {
      transform-origin: 50% 0%;
      will-change: transform;

      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);

      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }

    @keyframes scale {
      to {
        transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
      }
    }
  }

  /** DEBUG **/

  #debug {
    position: fixed;
    top: 1em;
    left: 1em;
  }
  #debug::after {
    content: " Show Debug";
    margin-left: 1.5em;
    color: white;
    white-space: nowrap;
  }

  #debug:checked ~ main {
    --outline-width: 1px;
  }

  /** PAGE STYLING **/

  * {
    /* Poor Man's Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .body {
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    font-size: calc(1em + 0.5vw);
    justify-content: center;
  }

  // header,
  // main {
  //   width: 80vw;
  //   margin: 0 auto;
  // }

  // header {
  //   height: 100vh;
  //   display: grid;
  //   place-items: center;
  // }
  .card-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0px;
    padding: 20px;
  }

  #cards {
    list-style: none;
    outline: calc(var(--outline-width) * 10) solid blue;

    display: grid;

    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
  }

  .card {
    outline: var(--outline-width) solid hotpink;
  }

  .card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: #f4eae6;
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;

    align-items: stretch;
    outline: var(--outline-width) solid lime;
  }

  .card__content > div {
    grid-area: text;
    width: 100%;
    place-self: center;
    text-align: left;
    padding: 20px;

    display: grid;
    gap: 0em;
    place-items: start;
  }

  .card__content > span {
    grid-area: img;
    overflow: hidden;
  }

  .card__content img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #000;
  }

  .card__content2 {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: #f4eae6;
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow-wrap: break-word;
    word-wrap: break-all;
    // word-wrap: break-word;
    padding-top: 100px;
    padding-bottom: 100px;
    // padding-right: 20px;
    // padding-left: 20px;
    // display: grid;
    // grid-template-areas: "text img";
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    // height: 650px;

    outline: var(--outline-width) solid lime;
  }

  .card__content2 > div {
    grid-area: text;
    width: 100%;
    place-self: center;
    text-align: left;
    word-wrap: break-word;
    display: grid;
    // gap: 1em;
    place-items: start;
  }

  .card__content2 > span {
    grid-area: img;
    // overflow: hidden;
  }

  h3 {
    font-weight: 400;
    font-size: 2.5em;
    font-family: "Coolvetica";
    color: #2f5061;
  }

  h4 {
    font-weight: 400;
    font-size: 1em;
    font-family: "Coolvetica";
    color: #2f5061;
    padding-bottom: 20px;
  }

  p {
    font-size: 11px;
    color: #2f5061;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
  }

  .btn {
    color: #e57f84;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #e57f84;
    margin-top: 15px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: #e57f84;
      color: #333;
    }
  }

  .repo-btn {
    color: #e57f84;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #e57f84;
    border-left: none;
    margin-top: 15px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: #e57f84;
      color: #333;
    }
  }

  .port-btn {
    margin: 10px;
  }

  .card__content2 {
    width: 100%;
    // display: flex;
  }

  .backend_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    // padding: 40px;
  }

  .backend_column {
    width: 100%;
    white-space: pre-wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .backend_column_border {
    border-left: 1px solid #e57f84;
    border-right: 1px solid #e57f84;
  }

  .backend_paragraph {
    height: 170px;
    // padding-bottom: 20px;
  }
}

@media (max-width: 736px) {
  :root {
    --card-width: 75vw;
    --card-height: 100vw;
    --card-margin: 50vw;
    --card-top-offset: 4em;
    --numcards: 5;
    --outline-width: 0px;
  }

  #cards {
    padding-bottom: calc(
      var(--numcards) * var(--card-top-offset)
    ); /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(
      --card-margin
    ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  }

  #card_1 {
    --index: 1;
  }

  #card_2 {
    --index: 2;
  }

  #card_3 {
    --index: 3;
  }

  #card_4 {
    --index: 4;
  }

  #card_5 {
    --index: 5;
  }

  .card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }

  @supports (animation-timeline: works) {
    @scroll-timeline cards-element-scrolls-in-body {
      source: selector(body);
      scroll-offsets:
        /* Start when the start edge touches the top of the scrollport */ selector(
            #cards
          )
          start 1,
        /* End when the start edge touches the start of the scrollport */
          selector(#cards) start 0;
      start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
      end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
      time-range: 4s;
    }

    .card {
      --index0: calc(var(--index) - 1); /* 0-based index */
      --reverse-index: calc(
        var(--numcards) - var(--index0)
      ); /* reverse index */
      --reverse-index0: calc(
        var(--reverse-index) - 1
      ); /* 0-based reverse index */
    }

    .card__content {
      transform-origin: 50% 0%;
      will-change: transform;

      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);

      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }

    .card__content2 {
      transform-origin: 50% 0%;
      will-change: transform;

      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);

      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }

    @keyframes scale {
      to {
        transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
      }
    }
  }

  /** DEBUG **/

  #debug {
    position: fixed;
    top: 1em;
    left: 1em;
  }
  #debug::after {
    content: " Show Debug";
    margin-left: 1.5em;
    color: white;
    white-space: nowrap;
  }

  #debug:checked ~ main {
    --outline-width: 1px;
  }

  /** PAGE STYLING **/

  * {
    /* Poor Man's Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .body {
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    font-size: calc(1em + 0.5vw);
    justify-content: center;
  }

  // header,
  // main {
  //   width: 80vw;
  //   margin: 0 auto;
  // }

  // header {
  //   height: 100vh;
  //   display: grid;
  //   place-items: center;
  // }
  .card-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0px;
    padding: 20px;
  }

  #cards {
    list-style: none;
    outline: calc(var(--outline-width) * 10) solid blue;

    display: grid;

    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
  }

  .card {
    outline: var(--outline-width) solid hotpink;
  }

  .card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: #f4eae6;
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 2fr 0fr;
    grid-template-rows: auto;

    align-items: stretch;
    outline: var(--outline-width) solid lime;
  }

  .card__content > div {
    grid-area: text;
    width: 100%;
    place-self: center;
    text-align: left;
    padding: 20px;

    display: grid;
    gap: 0em;
    place-items: start;
  }

  .card__content > span {
    grid-area: img;
    overflow: hidden;
  }

  .card__content img,
  video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #000;
  }

  .card__content2 {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: #f4eae6;
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow-wrap: break-word;
    word-wrap: break-all;
    // word-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
    // padding-right: 20px;
    // padding-left: 20px;
    // display: grid;
    // grid-template-areas: "text img";
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    // height: 650px;

    outline: var(--outline-width) solid lime;
  }

  .card__content2 > div {
    grid-area: text;
    width: 100%;
    place-self: center;
    text-align: left;
    word-wrap: break-word;
    display: grid;
    // gap: 1em;
    place-items: start;
  }

  .card__content2 > span {
    grid-area: img;
    // overflow: hidden;
  }

  h3 {
    font-weight: 400;
    font-size: 2.5em;
    font-family: "Coolvetica";
    color: #2f5061;
  }

  h4 {
    font-weight: 400;
    font-size: 1em;
    font-family: "Coolvetica";
    color: #2f5061;
    padding-bottom: 0px;
  }

  p {
    font-size: 11px;
    color: #2f5061;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
  }

  .btn {
    color: #e57f84;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #e57f84;
    margin-top: 15px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: #e57f84;
      color: #333;
    }
  }

  .repo-btn {
    color: #e57f84;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #e57f84;
    border-left: none;
    margin-top: 15px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: #e57f84;
      color: #333;
    }
  }

  .port-btn {
    margin: 10px;
  }

  .card__content2 {
    width: 100%;
    // display: flex;
  }

  .backend_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0px;
  }

  .backend_column {
    width: 100%;
    white-space: pre-wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .backend_column_border {
    border-left: 0px solid #e57f84;
    border-right: 0px solid #e57f84;
  }

  .backend_paragraph {
    height: 100%;
    // padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  @media (max-width: 970px) {
    $size: 80px;
    $speed: 3s;
    $peakopacity: 0.7;
    .arrows {
      // text-align: center;
      position: relative;
      /**/
      position: fixed;
      bottom: 10%;
      left: 50%;
      /**/
      width: $size;
      height: $size;
      transform: translate(-50%, -50%);
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(66, 151, 160, $peakopacity);
        border-bottom: $size/3 solid rgba(66, 151, 160, $peakopacity);
        transform: translate($size/3, $size * 4/3) rotate(-45deg);
        animation: arrows $speed linear infinite;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(66, 151, 160, $peakopacity);
        border-bottom: $size/3 solid rgba(66, 151, 160, $peakopacity);
        transform: translate($size * 2/3, 0px) rotate(-45deg);
        animation: arrows $speed linear infinite $speed/-2;
      }
    }

    @keyframes arrows {
      0% {
        border-left: $size/3 solid rgba(66, 151, 160, 0);
        border-bottom: $size/3 solid rgba(66, 151, 160, 0);
        transform: translate($size/-6, $size * 4/-6) rotate(-45deg);
      }
      10%,
      90% {
        border-left: $size/3 solid rgba(66, 151, 160, 0);
        border-bottom: $size/3 solid rgba(66, 151, 160, 0);
      }
      50% {
        border-left: $size/3 solid rgba(66, 151, 160, $peakopacity);
        border-bottom: $size/3 solid rgba(66, 151, 160, $peakopacity);
        transform: translate($size/-6, 0px) rotate(-45deg);
      }
      100% {
        border-left: $size/3 solid rgba(66, 151, 160, 0);
        border-bottom: $size/3 solid rgba(66, 151, 160, 0);
        transform: translate($size/-6, $size * 4/6) rotate(-45deg);
      }
    }
  }
}
