a:link {
  color: #e57f84;
  text-decoration: none;
}

a:visited {
  color: #e57f84;
  text-decoration: none;
}

a:hover {
  color: #f4eae6;
}

.iconRow {
  display: flex;
  padding-top: 10px;
}

.icon {
  font-size: 40px;
  padding: 10px;
}

@media (max-width: 390px) {
  .iconRow {
    padding-top: 10px;
    justify-content: center;
  }
  .icon {
    font-size: 25px;
    padding: 10px;
  }
}
